<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.js}"></script>
</head>
<body>
<center>
    <form th:action="@{save}" th:method="post" id="form">
        产品名称：<input th:name="productname" id="productname"/><br>
        生产日期：<input th:name="producetime" id="producetime"/><br>
        产品产商：<select th:name="providerid">
        <option th:each="p:${providerDBS}" th:value="${p.providerid}" th:text="${p.providername}"></option>
    </select><br>
        <input type="button" value="添加" onclick="asd()">
    </form>
</center>
</body>
<script>
    function asd() {
        if ($("#productname").val() == '') {
            alert("产品名称不能为空")
        } else if ($("#producetime").val() == '') {
            alert("生产日期不能为空")
        } else {
            document.getElementById('form').submit()
        }
    }
</script>
</html>